 <header class="header">
        <nav class="nav">
            <a href="home" class="logo nav-link">MT</a>
            <button class="nav-toggle" aria-label="Abrir menu">
                <!-- incerte el menu amburgueza de font awesome -->
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a href="home" class="nav-menu-link nav-link">Home</a>
                </li>
                <li class="nav-menu-item">
                    <a href="registrarse" class="nav-menu-link nav-link">Registrarse</a>
                </li>
                <li class="nav-menu-item">
                    <a href="contacto" class="nav-menu-link nav-link nav-link">Contacto</a>
                </li>
                <li class="nav-menu-item">
                    <a href="editar" class="nav-menu-link nav-link">Sector Privado</a>
                </li>
            </ul>
        </nav>
    </header>